/* Global Styles */
body {
    font-family: "Roboto", sans-serif;
    background: #4e4e4e;
}

/* Default Styles */
.phone_off-btn {
    position: absolute;
    height: 80px;
    background: #000000;
    right: 0;
    border: none;
    padding: 45px 7px;
    transform: translateX(23px);
    margin-top: 150px;
    border-radius: 5px;
}

.fringe {
    background: #000000;
    width: 180px;
    height: 40px;
    position: absolute;
    margin-left: 95px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 3;
}

.fringe_upper-speaker {
    background: #222222;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    margin-top: 12px;
    margin-left: 70px;
}

.fringe_front-camera {
    background: #222222;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 8px;
}

.apps_icon {
    border-radius: 15px;
    width: 65px;
    height: 65px;
    display: inline-block;
}

.header_time_not-active {
    display: none;
}

.operator_not-active {
    display: none;
}

.header_time {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

/* Not Unlocked Styles */
.phone_full {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
}

.phone {
    position: relative;
    display: block;
    width: 370px;
    height: 760px;
    background: #232323;
    border-radius: 50px;
    border: 15px solid #000000;
    z-index: 3;
}

.phone_all {
    background: url(../img/wallpapers/Black-Light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 35px;
    z-index: 1;
}

.not_unlocked {
    height: 92%;
    position: relative;
}

.phone_all {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.phone_all.active {
    opacity: 1;
}

.header-oper,
.header-time {
    display: flex;
    position: relative;
    justify-content: space-between;
    cursor: default;
}

.header_left {
    padding-top: 15px;
    align-items: center;
    text-align: center;
    width: 95px;
}

.operator {
    font-weight: 500;
    color: #fff;
}

.header_right {
    display: flex;
    gap: 6px;
    padding-top: 15px;
    align-items: center;
    text-align: center;
    width: 86px;
}

.network {
    width: 18px;
    height: 13px;
}

.wifi {
    width: 18px;
    height: 14px;
}

.battery {
    width: 25px;
    height: 12px;
}

.not_unlocked-info {
    color: #fff;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    cursor: default;
}

.not_unlocked-info-up {
    margin-bottom: 5px;
}

.not_unlocked-info_time {
    font-size: 80px;
    font-weight: 600;
    align-items: center;
}

.not_unlocked-info-down {
    display: inline-block;
}

.not_unlocked-info-down_date {
    font-size: 19px;
    font-weight: 500;
}

.not_unlocked-down {
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 55px;
}

.not_unlocked-down_btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
}

.not_unlocked-down_lantern,
.not_unlocked-down_camera {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #232323;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.7;
}

.not_unlocked-down_lantern-svg,
.not_unlocked-down_camera-svg {
    text-align: center;
    padding-top: 9px;
}

.not_unlocked-down_open {
    margin-bottom: 5px;
}

.open_phone_text {
    font-size: 16px;
    color: #fff;
    padding-bottom: 5px;
    font-weight: 550;
}

.open_phone_block {
    background: #fff;
    width: 140px;
    height: 5px;
    border-radius: 5px;
}

/* Unlocked Styles */
.unlocked {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 10px;
    height: 96%;
    overflow: hidden;
}

.unlocked_all {
    margin: 40px 15px 0;
}

.unlocked_all-apps {
    text-align: left;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.apps_block {
    align-items: center;
    text-align: center;
    display: inline-block;
    position: relative;
    max-width: 85px;
}

.apps_block-text {
    color: #fff;
    font-size: 13px;
    padding-top: 15px;
    font-weight: 550;
    letter-spacing: 0.20px;
    position: absolute;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unlocked_fixed {
    position: absolute;
    bottom: 0;
}

.unlocked_down-part {
    background: #232323;
    display: inline-block;
    border-radius: 30px;
    opacity: 0.99;
    width: 350px;
    height: 85px;
    margin-bottom: 12px;
}

.unlocked_down-part .unlocked_down-part_apps .apps_icon:not(:last-child) {
    margin-right: 15px;
}

.unlocked_down-part_apps {
    padding-top: 10px;
}

/* Open Apps Styles */
.notes {
    background: #000;
}

/* Other Styles */
.not_unlocked-off,
.unlocked-off,
.phone_all-off {
    display: none;
}

.notes-off {
    display: none;
}

/* Animations */
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.jump-animation {
    animation: jump 0.5s ease-in-out;
}

.not_unlocked.slide-up {
    animation: slideUpAnimation 0.5s ease forwards;
}

@keyframes slideUpAnimation {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}